<launch>
    <arg name="robot_name"/>
    <arg name="init_pose"/>
    <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>

    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro" />

    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model $(arg robot_name) $(arg init_pose) -param robot_description" />

    <!-- <node name="spawn_minibot_model" pkg="gazebo_ros" type="spawn_model" args="$(arg init_pose) -urdf -param /robot_description -model $(arg robot_name)" respawn="false" output="screen" /> -->

    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
        <param name="publish_frequency" type="double" value="50.0" />
        <!-- <param name="tf_prefix" value="$(arg robot_name)_tf" /> -->
        <!-- <param name="use_tf_static" value="false"/> -->
        <param name="tf_prefix" value="$(arg robot_name)" />
    </node>

</launch>